.kalyan-bio{
   /* background-color: red; */
   width: 100%;
   height: 100%;
   margin: 0px;
   display: flex;
   flex-wrap: wrap;
   color: white !important;
   background-image: url("https://res.cloudinary.com/dpflxdsri/image/upload/v1694526361/Black_and_Blue_Modern_Gradient_Zoom_Virtual_Background_1_s6crvi.png") !important;
   background-size: cover;
   scroll-behavior: smooth;
}
.heading{
   margin: 0px;
}

.kalyan-photo-and-name-container{
   height: 100%;
   width: 100%;
   min-width: 410px;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: none !important;
}
.last-one{
   display: flex;
   text-decoration: none;
   font-weight: 500;
}
@media screen and (min-width:568px) {
   .kalyan-photo-and-name-container{
      width: 30%;
   }
   .last-one{
      display: none;
   }
}
.image-container{
   background-color: black ;
   width: 265px;
   height: 290px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.profile-photo{
   width: 100%;
   height: 100%;
   border-radius: 5px;
   /* margin-right: 5px; */
   /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
}
.kalyan-name-heading{
   margin: 0px ;
   padding: 0px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 25px;
   font-weight: bold;
}
.kalyan-role-heading{
   margin: 0px ;
   padding: 0px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 16px;
   font-weight: bold;
}
.email-button{
   width: 250px;
}
.resume-button{
   margin-right: 5px;
   padding: 1px 10px 3px 10px;
   margin-bottom: 20px;
}

.social-media-icons-container{
   display: flex;
   margin: 20px;
   width: 200px;
   justify-content: space-between;
}
.social-icon{
   font-size: 30px;
   color: white;
}
.kalyan-bio-and-details-container{
   height: 100%;
   width: 60%;
   display: flex;
   flex-direction: column;
   padding: 20px;
   min-width: 410px;
   flex-grow: 1;
   justify-content: flex-start;
   text-align: start;
   overflow-y: auto;
}
@media screen and (max-width:500px){
   .kalyan-bio-and-details-container{
      background-image: url("https://res.cloudinary.com/dpflxdsri/image/upload/v1694526361/Black_and_Blue_Modern_Gradient_Zoom_Virtual_Background_1_s6crvi.png") !important;
      border-top: 10px solid rgb(75, 84, 181);
   }
}
.name{
   font-style: italic;
}
.matter-para{
   list-style-type:circle;
   margin-bottom: 5px;
}

.side-headings{
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 10px;
   margin-top: 5px;
}

p{
   font-size: 17px;
}



/* styled CSS */
.container {
   height: 100px;
   width: 100px;
   background-color: green;
   transform: scaleX(0.75);
}

.card {
   width: 220px;
   height: 300px;
   perspective: 1000px;
}

.flip-card {
   width: 100%;
   height: 100%;
   transition: transform 0.5s;
   transform-style: preserve-3d;
   /* background-color: red; */
   border-radius: 10px;
}

.card:hover .flip-card {
   transform: rotateY(180deg)
}

.flip-front,
.flip-back {
   width: 100%;
   height: 100%;
   position: absolute;
   backface-visibility: hidden;
   border-radius: 10px;
   text-align: center;
}

.flip-front {
   background: linear-gradient(to top, #bf2608, #5306b8, #05991d);
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}

.flip-back {
   background: linear-gradient(to right, #2525ba, #032146);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transform: rotateY(180deg);
   font: 1rem sans-serif;
   color: #fff;
   text-align: center;
}

.flip-back p {
   padding: 1rem;
}

.flip-back a {
   padding: 8px 16px;
   background-color: #fbbf24;
   color: #000;
   border: none;
   cursor: pointer;
   text-decoration: none;
}

.heading {
   font-size: 15px;
}

.main-card {
   display: flex;
   justify-content: center;
   align-items: center;
}



/* Footer */
.footer{
   width: 100%;
}
.thankyou{
   text-align: center;
}
